<!-- wp:template-part {"slug":"header-default" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"kiddiemart-lite/header-media-with-patterns"} /-->
    <!-- wp:pattern {"slug":"kiddiemart-lite/best-seller-category"} /-->
    <!-- wp:pattern {"slug":"kiddiemart-lite/hero-content"} /-->
    <!-- wp:pattern {"slug":"kiddiemart-lite/testimonials"} /-->
    <!-- wp:pattern {"slug":"kiddiemart-lite/featured-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->