.woocommerce ul.products li.product .button {
    margin-right: 5px;
}

.woocommerce ul.products li.product .button:last-of-type {
    margin-right: 0px;
}

.woocommerce ul.products li.product .price del {
    opacity: .9;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    text-decoration: underline;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 20px;
}